@model ContosoUniversity2018.Models.Student

@{
    ViewData["Title"] = "Details";
}

<div class="container my-4">
    <h2>Student Details: @Model.FullName </h2>

    <div>
        <hr />
        
        <div class="row">
            <div class="col-md-4 my-2">
                <img class="img-fluid" src="http://placehold.it/200x200" alt="Student" />
            </div>
            <div class="col-md-8">
                <dl class="row border">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.EnrollmentDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.EnrollmentDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PostalCode)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Province)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Province)
                    </dd>
                </dl>
            </div>
        </div>
          
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>